<div class="modal fade" id="modal-signup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-title text-center">
                    <h4>Signup</h4>
                </div>
                <div class="d-flex flex-column mt-5">
                    <form id="signup" action="{% url 'register' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col form-group">
                                <label>First name</label>
                                {{ signup_form.first_name }}
                            </div>
                            <div class="col form-group">
                                <label>Last name</label>
                                {{ signup_form.last_name }}
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>Email</label>
                                {{ signup_form.email }}
                            </div>
                            <div class="form-group col-md-6">
                                <label>Phone number</label>
                                {{ signup_form.phone_number }}
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>Create password</label>
                                {{ signup_form.password }}
                            </div>
                            <div class="form-group col-md-6">
                                <label>Confirm password</label>
                                {{ signup_form.confirm_password }}
                            </div>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block"> Register  </button>
                        </div>

                        <div class="fail-message"> </div>
                        <div class="success-message"> </div>
                        {{ form.email.errors }}
                        {{ form.non_field_errors }}
                    </form>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <div>
                    Already have an account?
                    <a data-dismiss="modal" data-toggle="modal" data-target="#modal-login" class="text-info" style="cursor: pointer"> 
                        Log In
                    </a>.
                </div>
            </div>
        </div>
    </div>