{% extends './dashboard_template.html' %}

{% block dashboard_main %}
	<main class="col-md-9">
		<article class="card">
		<header class="card-header">
			<strong class="d-inline-block mr-3">Edit your profile</strong>

		</header>
		<div class="card-body">
			<div class="row justify-content-center">
				{% include './_avatar.html' %}
			</div>

			<div class="row mt-5">
				<div class="col-md-12">
					<form action="{% url 'edit-profile' %}" method="POST" enctype="multipart/form-data">
						{% csrf_token %}
						{% for field in form %}
							<div class="form-group row">
								<div class="col-4">
									{{ field.label_tag }}
								</div>
								<div class="col-8">
									{{ field }}
								</div>
							</div>
						{% endfor %}
						
						<div class="form-group row justify-content-center">
							<button type="submit" class="btn btn-primary">Save</button>
						</div>
					</form>
				</div>
			</div> <!-- row.// -->
		</div> <!-- card-body .// -->

		</article> <!-- order-group.// -->
	</main>

	<script>
		// update profile picture
		$(`input[name="profile_picture"]`).change(function (event) { 
			const url = URL.createObjectURL(event.target.files[0])

			avatar = $('#profile-picture')
			avatar.attr('src', url)
		});
	</script>
{% endblock %}